/build/
/dist/

/nbproject/private/

/DiagonJSF-war/nbproject/private/
/DiagonJSF-war/build.xml
/DiagonJSF-war/build/
/DiagonJSF-war/dist/

/DiagonJSF-ejb/nbproject/private/
/DiagonJSF-ejb/build.xml
/DiagonJSF-ejb/build/
/DiagonJSF-ejb/dist/

*.class